.mainContainer
  display: flex
  flex-direction: column
  justify-content: center
  width: 80%
  padding: 40px 0px
  gap: 50px
  min-height: 100vh
  opacity: 1
  transform: translateY(0)
  transition: opacity 0.3s ease, transform 0.3s ease

  &.hidden
    opacity: 0
    transform: translateY(20px)

.body
  display: flex
  align-items: center
  justify-content: center

  .editButton
    background-color: pink