@import "../../styles/mixins/mixins"
@import "../../styles/variables/variables" 
    
.mainContainer
    display: flex
    flex-direction: column
    align-items: center
    gap: 40px
    background-color: white
    width: 100%
    min-height: 100vh
    padding: 50px 0px
    border-radius: 5px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)



.dataContainer
    display: flex
    gap: 20px
    width: 80%
.dataContainer1
    display: flex
    gap: 20px
    width: 80%

.textContainer
    width: 25%
    display: flex

.photoContainer
    width: 74%

.notEditable
    display: flex
    gap: 0px

.pictureContainer
    width: 40%
    display: flex
    gap: 10px

.editablePhoto
    width: 40%
    display: flex
    gap: 10px

.editButton
    color: white
    background-color: #0b7423
    width: 100%
    align-self: center
    border-radius: 15px
    padding: 6px 10px
    transition: 0.3s ease
    &:hover
        background-color: #09521a

.cancelButton
    color: white
    background-color: #fc564a
    width: 40%
    align-self: center
    border-radius: 15px
    padding: 6px 10px
    transition: 0.3s ease
    &:hover
        background-color: red

    

.fieldName
    width: 100%
    text-align: end
    font-size: 18px
    color: #6a6f72
    font-weight: 400

.fieldName1
    width: 100%
    text-align: end
    font-size: 18px
    color: #6a6f72
    font-weight: 400

.fieldContainer
    width: 75%
    padding-bottom: 10px
    border-bottom: 1px solid #ddd

.input
    border: none
    width: 100%
    &:focus
        outline: none
    
.uneditable
    color: gray
    padding-bottom: 10px

.select
    width: 100%
    &:focus
        outline: none


.saveButton
    @include greenButton
    width: 100px
    

.deleteButton
    color: red
    height: 30px
    border-radius: 50%
    font-size: 20px
    

.icon
    color: green
    font-size: 25px

.iconCancel
    color: red
    font-size: 25px

.avatarContainer
    width: 40%
    display: flex
    gap: 10px

.avatar
    width: 40%

@media(max-width: 1100px)
    .cancelButton
        width: 80%
@media(max-width: 560px)
    .dataContainer
        width: 100%
        justify-content: center
        padding: 0px 10px
    .dataContainer1
        flex-direction: column
        align-items: center
        width: 100%
        
    .fieldName
        font-size: 15px
        text-align: center
    .fieldName1
        text-align: center

    .fieldContainer
        font-size: 13px
        width: 100%
    .icon
        font-size: 15px

    .iconCancel
        font-size: 15px

    .editablePhoto
        display: flex
        flex-direction: column
    .notEditable    
        justify-content: center
        align-items: center
    .pictureContainer
        display: flex
        flex-direction: column
    .cancelButton
        width: 100%
    .fieldContainer1
        font-size: 20px
        width: 100%
    .photoContainer
        justify-content: center
    .textContainer
        width: 100%

