
.cardsContainer
    display: grid   
    grid-template-columns: repeat(3, 1fr)
    gap: 20px
    width: 80%
    
.noCardsContainer
    display: flex
    align-items: center    
    justify-content: center